<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>The Habit of Habit Tracking</string>
		<key>subtitle</key>
		<string>Why and How to Track Your Habits </string>
		<key>titleViewBgColor</key>
		<string>BF9D6D</string>
		<key>largeImageName</key>
		<string>habitTracker</string>
		<key>thumbnailRectXPercent</key>
		<real>0.2</real>
		<key>thumbnailRectYPercent</key>
		<real>0.45</real>
		<key>thumbnailRectWidthPercent</key>
		<real>0.37</real>
		<key>thumbnailRectHeightPercent</key>
		<real>0.43</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Cultivate Gratitude</string>
		<key>subtitle</key>
		<string>Discover the transformative joy of Gratitude Journaling</string>
		<key>titleViewBgColor</key>
		<string>2E6054</string>
		<key>largeImageName</key>
		<string>gratitudeCultivator</string>
		<key>thumbnailRectXPercent</key>
		<real>0.2</real>
		<key>thumbnailRectYPercent</key>
		<real>0.45</real>
		<key>thumbnailRectWidthPercent</key>
		<real>0.37</real>
		<key>thumbnailRectHeightPercent</key>
		<real>0.43</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Take Perfect Meeting Notes</string>
		<key>subtitle</key>
		<string>Tips &amp; Tools for Taking The Best Meeting Notes</string>
		<key>titleViewBgColor</key>
		<string>CD643A</string>
		<key>largeImageName</key>
		<string>meetingNoteTaker</string>
		<key>thumbnailRectXPercent</key>
		<real>0.2</real>
		<key>thumbnailRectYPercent</key>
		<real>0.45</real>
		<key>thumbnailRectWidthPercent</key>
		<real>0.37</real>
		<key>thumbnailRectHeightPercent</key>
		<real>0.43</real>
	</dict>
	<dict>
		<key>title</key>
		<string>The Power of List Making</string>
		<key>subtitle</key>
		<string>How lists simplify and improve our lives</string>
		<key>titleViewBgColor</key>
		<string>213349</string>
		<key>largeImageName</key>
		<string>listMaker</string>
		<key>thumbnailRectXPercent</key>
		<real>0.2</real>
		<key>thumbnailRectYPercent</key>
		<real>0.45</real>
		<key>thumbnailRectWidthPercent</key>
		<real>0.37</real>
		<key>thumbnailRectHeightPercent</key>
		<real>0.43</real>
	</dict>
</array>
</plist>
