<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://drive.google.com/uc?export=download&amp;id=1w0nFPOTt5PPgiCg8KC1Y-Icmpv_l_rt-</string>
	<string>https://drive.google.com/uc?export=download&amp;id=1fo9Jnav-sBYF6IQp__kcT8ztp8Yt7Q0H</string>
	<string>https://drive.google.com/uc?export=download&amp;id=1RFU0nc3HYsWSkFUYqdFh7Ff6IGBE5EEC</string>
</array>
</plist>
