<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>FEFFFE</string>
	<string>EBEBEB</string>
	<string>D6D6D6</string>
	<string>C2C2C2</string>
	<string>ADADAD</string>
	<string>999999</string>
	<string>858585</string>
	<string>707070</string>
	<string>5C5C5C</string>
	<string>474747</string>
	<string>333333</string>
	<string>000000</string>
	<string>00374A</string>
	<string>011D57</string>
	<string>11053B</string>
	<string>2E063D</string>
	<string>3C071B</string>
	<string>5C0701</string>
	<string>5A1C00</string>
	<string>583300</string>
	<string>563D00</string>
	<string>666100</string>
	<string>4F5504</string>
	<string>263E0F</string>
	<string>004D65</string>
	<string>012F7B</string>
	<string>1A0A52</string>
	<string>450D59</string>
	<string>551029</string>
	<string>831100</string>
	<string>7B2900</string>
	<string>7A4A00</string>
	<string>785800</string>
	<string>8D8602</string>
	<string>6F760A</string>
	<string>38571A</string>
	<string>016E8F</string>
	<string>0042A9</string>
	<string>2C0977</string>
	<string>61187C</string>
	<string>791A3D</string>
	<string>B51A00</string>
	<string>AD3E00</string>
	<string>A96800</string>
	<string>A67B01</string>
	<string>C4BC00</string>
	<string>9BA50E</string>
	<string>4E7A27</string>
	<string>008CB4</string>
	<string>0056D6</string>
	<string>371A94</string>
	<string>7A219E</string>
	<string>99244F</string>
	<string>E22400</string>
	<string>DA5100</string>
	<string>D38301</string>
	<string>D19D01</string>
	<string>F5EC00</string>
	<string>C3D117</string>
	<string>669D34</string>
	<string>00A1D8</string>
	<string>0061FD</string>
	<string>4D22B2</string>
	<string>982ABC</string>
	<string>B92D5D</string>
	<string>FF4015</string>
	<string>FF6A00</string>
	<string>FFAB01</string>
	<string>FCC700</string>
	<string>FEFB41</string>
	<string>D9EC37</string>
	<string>76BB40</string>
	<string>01C7FC</string>
	<string>3A87FD</string>
	<string>5E30EB</string>
	<string>BE38F3</string>
	<string>E63B7A</string>
	<string>FE6250</string>
	<string>FE8648</string>
	<string>FEB43F</string>
	<string>FECB3E</string>
	<string>FFF76B</string>
	<string>E4EF65</string>
	<string>96D35F</string>
	<string>52D6FC</string>
	<string>74A7FF</string>
	<string>864FFD</string>
	<string>D357FE</string>
	<string>EE719E</string>
	<string>FF8C82</string>
	<string>FEA57D</string>
	<string>FEC777</string>
	<string>FED977</string>
	<string>FFF994</string>
	<string>EAF28F</string>
	<string>B1DD8B</string>
	<string>93E3FC</string>
	<string>A7C6FF</string>
	<string>B18CFE</string>
	<string>E292FE</string>
	<string>F4A4C0</string>
	<string>FFB5AF</string>
	<string>FFC5AB</string>
	<string>FED9A8</string>
	<string>FDE4A8</string>
	<string>FFFBB9</string>
	<string>F1F7B7</string>
	<string>CDE8B5</string>
	<string>CBF0FF</string>
	<string>D2E2FE</string>
	<string>D8C9FE</string>
	<string>EFCAFE</string>
	<string>F9D3E0</string>
	<string>FFDAD8</string>
	<string>FFE2D6</string>
	<string>FEECD4</string>
	<string>FEF1D5</string>
	<string>FDFBDD</string>
	<string>F6FADB</string>
	<string>DEEED4</string>
</array>
</plist>
