<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>6</integer>
	<key>deviceMetaData</key>
	<dict>
		<key>devices</key>
		<array>
			<dict>
				<key>dimension_land</key>
				<string>792_612</string>
				<key>dimension_port</key>
				<string>612_792</string>
				<key>isiPad</key>
				<true/>
				<key>identifier</key>
				<string>standard1</string>
				<key>displayName</key>
				<string>Letter</string>
				<key>dimension</key>
				<string>612_792</string>
			</dict>
			<dict>
				<key>dimension_port</key>
				<string>842_1191</string>
				<key>dimension_land</key>
				<string>1191_842</string>
				<key>isiPad</key>
				<true/>
				<key>identifier</key>
				<string>standard3</string>
				<key>displayName</key>
				<string>A3</string>
				<key>dimension</key>
				<string>842_1191</string>
			</dict>
			<dict>
				<key>dimension_port</key>
				<string>595_842</string>
				<key>dimension_land</key>
				<string>842_595</string>
				<key>isiPad</key>
				<true/>
				<key>identifier</key>
				<string>standard2</string>
				<key>displayName</key>
				<string>A4</string>
				<key>dimension</key>
				<string>595_842</string>
			</dict>
			<dict>
				<key>dimension_port</key>
				<string>420_595</string>
				<key>dimension_land</key>
				<string>595_420</string>
				<key>isiPad</key>
				<true/>
				<key>identifier</key>
				<string>standard4</string>
				<key>displayName</key>
				<string>A5</string>
				<key>dimension</key>
				<string>420_595</string>
			</dict>
		</array>
	</dict>
	<key>covers</key>
	<dict>
		<key>categories</key>
		<array>
			<dict>
				<key>category_name</key>
				<string>SIMPLE</string>
				<key>event_track_name</key>
				<string>PLAIN</string>
				<key>coverVariant_imageName</key>
				<string>cover_variant1</string>
				<key>themes</key>
				<array>
					<string>basic1.nsc</string>
					<string>basic2.nsc</string>
					<string>basic3.nsc</string>
					<string>basic4.nsc</string>
					<string>basic5.nsc</string>
					<string>basic6.nsc</string>
					<string>basic7.nsc</string>
					<string>basic8.nsc</string>
					<string>basic9.nsc</string>
					<string>basic10.nsc</string>
					<string>basic11.nsc</string>
					<string>basic12.nsc</string>
				</array>
			</dict>
			<dict>
				<key>category_name</key>
				<string>GROUPE</string>
				<key>event_track_name</key>
				<string>BAND</string>
				<key>coverVariant_imageName</key>
				<string>cover_variant2</string>
				<key>themes</key>
				<array>
					<string>band1.nsc</string>
					<string>band2.nsc</string>
					<string>band3.nsc</string>
					<string>band4.nsc</string>
					<string>band5.nsc</string>
					<string>band6.nsc</string>
					<string>band7.nsc</string>
					<string>band8.nsc</string>
					<string>band9.nsc</string>
					<string>band10.nsc</string>
					<string>band11.nsc</string>
					<string>band12.nsc</string>
				</array>
			</dict>
			<dict>
				<key>category_name</key>
				<string>PALETTE</string>
				<key>event_track_name</key>
				<string>PALETTE</string>
				<key>coverVariant_imageName</key>
				<string>cover_variant3</string>
				<key>themes</key>
				<array>
					<string>palette1.nsc</string>
					<string>palette2.nsc</string>
					<string>palette3.nsc</string>
					<string>palette4.nsc</string>
					<string>palette5.nsc</string>
					<string>palette6.nsc</string>
				</array>
			</dict>
			<dict>
				<key>category_name</key>
				<string>COMPOSITION</string>
				<key>event_track_name</key>
				<string>COMPOSITION</string>
				<key>coverVariant_imageName</key>
				<string>cover_variant4</string>
				<key>themes</key>
				<array>
					<string>composition1.nsc</string>
					<string>composition2.nsc</string>
					<string>composition3.nsc</string>
					<string>composition4.nsc</string>
					<string>composition5.nsc</string>
					<string>composition6.nsc</string>
				</array>
			</dict>
			<dict>
				<key>category_name</key>
				<string>RETRO</string>
				<key>event_track_name</key>
				<string>RETRO</string>
				<key>coverVariant_imageName</key>
				<string>cover_variant5</string>
				<key>themes</key>
				<array>
					<string>retro1.nsc</string>
					<string>retro2.nsc</string>
					<string>retro3.nsc</string>
					<string>retro4.nsc</string>
					<string>retro5.nsc</string>
					<string>retro6.nsc</string>
					<string>retro7.nsc</string>
					<string>retro8.nsc</string>
					<string>retro9.nsc</string>
					<string>retro10.nsc</string>
					<string>retro11.nsc</string>
					<string>retro12.nsc</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>basicpapers</key>
	<dict>
		<key>themes</key>
		<array>
			<string>Plain.nsp</string>
			<string>Ruled.nsp</string>
			<string>Checked.nsp</string>
			<string>Dotted.nsp</string>
			<string>Legal.nsp</string>
		</array>
		<key>customize_options</key>
		<dict>
			<key>color_variants</key>
			<array>
				<dict>
					<key>colors</key>
					<array>
						<dict>
							<key>verticalLineColor</key>
							<string>#0000-0.15</string>
							<key>horizontalLineColor</key>
							<string>#0000-0.15</string>
							<key>colorHex</key>
							<string>#FFFFFF-1.0</string>
							<key>colorName</key>
							<string>White</string>
						</dict>
						<dict>
							<key>verticalLineColor</key>
							<string>#0000-0.15</string>
							<key>horizontalLineColor</key>
							<string>#0000-0.15</string>
							<key>colorHex</key>
							<string>#F7F7F2-1.0</string>
							<key>colorName</key>
							<string>Ivory</string>
						</dict>
						<dict>
							<key>verticalLineColor</key>
							<string>#C4A393-1.0</string>
							<key>horizontalLineColor</key>
							<string>#8FBECC-1.0</string>
							<key>colorHex</key>
							<string>#FFFED6-1.0</string>
							<key>colorName</key>
							<string>Legal</string>
						</dict>
						<dict>
							<key>verticalLineColor</key>
							<string>#FFFFFF-0.15</string>
							<key>horizontalLineColor</key>
							<string>#FFFFFF-0.15</string>
							<key>colorHex</key>
							<string>#111111-1.0</string>
							<key>colorName</key>
							<string>Midnight</string>
						</dict>
						<dict>
							<key>verticalLineColor</key>
							<string>#FFFFFF-0.15</string>
							<key>horizontalLineColor</key>
							<string>#FFFFFF-0.15</string>
							<key>colorHex</key>
							<string>#000000-1.0</string>
							<key>colorName</key>
							<string>Custom</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>background_color</key>
			<true/>
			<key>lineTypes</key>
			<array>
				<dict>
					<key>verticalLineSpacing</key>
					<integer>24</integer>
					<key>lineType</key>
					<string>Extra Narrow</string>
					<key>horizontalLineSpacing</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>verticalLineSpacing</key>
					<integer>28</integer>
					<key>horizontalLineSpacing</key>
					<integer>28</integer>
					<key>lineType</key>
					<string>Narrow</string>
				</dict>
				<dict>
					<key>verticalLineSpacing</key>
					<integer>34</integer>
					<key>horizontalLineSpacing</key>
					<integer>34</integer>
					<key>lineType</key>
					<string>Standard</string>
				</dict>
				<dict>
					<key>verticalLineSpacing</key>
					<integer>54</integer>
					<key>horizontalLineSpacing</key>
					<integer>54</integer>
					<key>lineType</key>
					<string>Wide</string>
				</dict>
			</array>
		</dict>
		<key>category_name</key>
		<string>Simple</string>
	</dict>
</dict>
</plist>
