<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<array>
		<dict>
			<key>title</key>
			<string>Lettering</string>
			<key>sections</key>
			<array>
				<dict>
					<key>title</key>
					<string>Months</string>
					<key>imageName</key>
					<string>stickers_months</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Days</string>
					<key>imageName</key>
					<string>stickers_days</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Headers</string>
					<key>imageName</key>
					<string>stickers_headers</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Animations</string>
					<key>imageName</key>
					<string>stickers_animations</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Quotes</string>
					<key>imageName</key>
					<string>stickers_quotes</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Labels</string>
			<key>sections</key>
			<array>
				<dict>
					<key>title</key>
					<string>Post-its</string>
					<key>imageName</key>
					<string>stickers_postIts</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Shapes</string>
					<key>imageName</key>
					<string>stickers_shapes</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Cloud</string>
					<key>imageName</key>
					<string>stickers_cloud</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Banners</string>
					<key>imageName</key>
					<string>stickers_banners</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Objects</string>
			<key>sections</key>
			<array>
				<dict>
					<key>title</key>
					<string>School</string>
					<key>imageName</key>
					<string>stickers_school</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Food &amp; Drink</string>
					<key>imageName</key>
					<string>stickers_foodAndDrink</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Travel</string>
					<key>imageName</key>
					<string>stickers_travel</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Household</string>
					<key>imageName</key>
					<string>stickers_houseHold</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Bujo Essentials</string>
			<key>sections</key>
			<array>
				<dict>
					<key>title</key>
					<string>Labels</string>
					<key>imageName</key>
					<string>stickers_label</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Widgets</string>
					<key>imageName</key>
					<string>stickers_widgets</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Washi Tapes</string>
					<key>imageName</key>
					<string>stickers_washiTapes</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Icon Stickers</string>
					<key>imageName</key>
					<string>stickers_iconStickers</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Fancy Titles</string>
			<key>sections</key>
			<array>
				<dict>
					<key>title</key>
					<string>Thick</string>
					<key>imageName</key>
					<string>stickers_thick</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Double Line</string>
					<key>imageName</key>
					<string>stickers_doubleLine</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Handwritten</string>
					<key>imageName</key>
					<string>stickers_handWritten</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Serif</string>
					<key>imageName</key>
					<string>stickers_serif1</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Serif</string>
					<key>imageName</key>
					<string>stickers_serif2</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Serif</string>
					<key>imageName</key>
					<string>stickers_serif3</string>
					<key>subSectionImages</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>Serif</string>
					<key>imageName</key>
					<string>stickers_serif4</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Serif</string>
					<key>imageName</key>
					<string>stickers_serif5</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
