<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>7</integer>
	<key>styles</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>H1</string>
			<key>fontFamily</key>
			<string>Helvetica Neue</string>
			<key>fontName</key>
			<string>HelveticaNeue-Bold</string>
			<key>allowsEdit</key>
			<true/>
			<key>fontSize</key>
			<integer>28</integer>
			<key>textColor</key>
			<string>#000000</string>
			<key>isUnderLined</key>
			<false/>
			<key>strikeThrough</key>
			<false/>
			<key>isAutoLineSpace</key>
			<false/>
			<key>lineSpace</key>
			<integer>0</integer>
			<key>isDefault</key>
			<true/>
			<key>fontId</key>
			<string>a6d5632e-328d-4550-ac1f-3ff6a9dc7885</string>
			<key>alignment</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>displayName</key>
			<string>H2</string>
			<key>fontFamily</key>
			<string>Helvetica Neue</string>
			<key>fontName</key>
			<string>HelveticaNeue-Bold</string>
			<key>fontSize</key>
			<integer>22</integer>
			<key>allowsEdit</key>
			<true/>
			<key>textColor</key>
			<string>#000000</string>
			<key>isUnderLined</key>
			<false/>
			<key>strikeThrough</key>
			<false/>
			<key>isAutoLineSpace</key>
			<false/>
			<key>lineSpace</key>
			<integer>0</integer>
			<key>isDefault</key>
			<true/>
			<key>fontId</key>
			<string>b6b7fdac-5cf0-4b36-bfd3-05fcbd7930f4</string>
			<key>alignment</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>displayName</key>
			<string>H3</string>
			<key>fontFamily</key>
			<string>Helvetica Neue</string>
			<key>fontName</key>
			<string>HelveticaNeue-Medium</string>
			<key>fontSize</key>
			<integer>19</integer>
			<key>allowsEdit</key>
			<false/>
			<key>textColor</key>
			<string>#305EF7</string>
			<key>isUnderLined</key>
			<false/>
			<key>strikeThrough</key>
			<false/>
			<key>isAutoLineSpace</key>
			<false/>
			<key>lineSpace</key>
			<integer>0</integer>
			<key>isDefault</key>
			<true/>
			<key>fontId</key>
			<string>f642d7a2-d5ce-4a94-bca2-41679e12f5e7</string>
			<key>alignment</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Body</string>
			<key>fontFamily</key>
			<string>Helvetica Neue</string>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>16</integer>
			<key>allowsEdit</key>
			<false/>
			<key>textColor</key>
			<string>#000000</string>
			<key>isUnderLined</key>
			<false/>
			<key>strikeThrough</key>
			<false/>
			<key>isAutoLineSpace</key>
			<false/>
			<key>lineSpace</key>
			<integer>0</integer>
			<key>isDefault</key>
			<true/>
			<key>fontId</key>
			<string>164deebc-acf9-4ea1-9b3a-b15f08568f1a</string>
			<key>alignment</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Caption</string>
			<key>fontFamily</key>
			<string>Helvetica Neue</string>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>fontSize</key>
			<integer>14</integer>
			<key>allowsEdit</key>
			<false/>
			<key>textColor</key>
			<string>#000000</string>
			<key>isUnderLined</key>
			<false/>
			<key>strikeThrough</key>
			<false/>
			<key>isAutoLineSpace</key>
			<false/>
			<key>lineSpace</key>
			<integer>0</integer>
			<key>isDefault</key>
			<true/>
			<key>fontId</key>
			<string>44b5b02d-41b0-420d-9b9a-050f96820a8e</string>
			<key>alignment</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
