<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207000050327-oijso39v4kn8l3jfgm0vuugnf109t9ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207000050327-oijso39v4kn8l3jfgm0vuugnf109t9ds</string>
	<key>API_KEY</key>
	<string>AIzaSyByDvqZ9Lq3siyWHKXjlWg_YWFksGsYlcE</string>
	<key>GCM_SENDER_ID</key>
	<string>207000050327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluidtouch.noteshelf3-dev</string>
	<key>PROJECT_ID</key>
	<string>noteshelf3-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>noteshelf3-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207000050327:ios:a93ecbd90db54d69b0a7d2</string>
</dict>
</plist>