<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.fluidtouch.noteshelf3</key>
		<string>Noteshelf 3 Mac AppStore</string>
		<key>com.fluidtouch.noteshelf3.thumbnail</key>
		<string>Noteshelf 3 Thumbnail Catalyst AppStore</string>
		<key>com.fluidtouch.noteshelf3.noteshelf-action</key>
		<string>Noteshelf 3 Action Mac AppStore</string>
		<key>com.fluidtouch.noteshelf3-beta</key>
		<string>NS3 Beta Catalyst TestFlight</string>
		<key>com.fluidtouch.noteshelf3-beta.noteshelf-action</key>
		<string>NS3 Beta Catalyst Action TestFlight</string>
		<key>com.fluidtouch.noteshelf3-beta.thumbnail</key>
		<string>NS3 Beta Catalyst Thumbnail TestFlight</string>
		<key>com.fluidtouch.noteshelf3-beta.widgets</key>
		<string>NS3 Beta Catalyst Widgets TestFlight</string>
		<key>com.fluidtouch.noteshelf3-beta.intents</key>
		<string>NS3 Beta Catalyst Intents TestFlight</string>
	</dict>
	<key>signingStyle</key>
	<string>manual</string>
</dict>
</plist>
