<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.fluidtouch.noteshelf3</key>
		<string>Noteshelf 3 AppStore</string>
		<key>com.fluidtouch.noteshelf3.noteshelf-action</key>
		<string>Noteshelf 3 Action AppStore</string>
		<key>com.fluidtouch.noteshelf3.thumbnail</key>
		<string>Noteshelf 3 Thumbnail AppStore</string>
		<key>com.fluidtouch.noteshelf3.watchkitapp</key>
		<string>Noteshelf 3 Watch AppStore</string>
		<key>com.fluidtouch.noteshelf3.watchkitapp.watch-widget</key>
		<string>Noteshelf 3 Watch Widget AppStore</string>
		<key>com.fluidtouch.noteshelf3.watchkitapp.watchkitextension</key>
		<string>Noteshelf 3 Watch Extension AppStore</string>
		<key>com.fluidtouch.noteshelf3-beta</key>
		<string>NS3 Beta TestFlight</string>
		<key>com.fluidtouch.noteshelf3-beta.noteshelf-action</key>
		<string>NS3 Beta Action TestFlight</string>
		<key>com.fluidtouch.noteshelf3-beta.thumbnail</key>
		<string>NS3 Beta Thumbnail TestFlight</string>
		<key>com.fluidtouch.noteshelf3-beta.watchkitapp</key>
		<string>NS3 Beta Watch Testflight</string>
		<key>com.fluidtouch.noteshelf3-beta.watchkitapp.watch-widget</key>
		<string>NS3 Beta Watch Widget TestFlight</string>
		<key>com.fluidtouch.noteshelf3-beta.watchkitapp.watchkitextension</key>
		<string>NS3 Beta Watch Extension Testflight</string>
	</dict>
	<key>signingStyle</key>
	<string>manual</string>
</dict>
</plist>
