<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>4</string>
	<key>lastSelectedPenType</key>
	<integer>0</integer>
	<key>lastSelectedHighlighterType</key>
	<integer>3</integer>
	<key>pilotPen</key>
	<dict>
		<key>favouriteColors</key>
		<array>
			<dict>
				<key>color</key>
				<string>201816</string>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>color</key>
				<string>6B92B2</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>CC2C42</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>000000</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>favouriteSizes</key>
		<array>
			<dict>
				<key>size</key>
				<integer>3</integer>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>size</key>
				<integer>4</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>size</key>
				<integer>8</integer>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>caligraphyPen</key>
	<dict>
		<key>favouriteColors</key>
		<array>
			<dict>
				<key>color</key>
				<string>13326B</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>E0430E</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>1488A1</string>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>color</key>
				<string>000000</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>favouriteSizes</key>
		<array>
			<dict>
				<key>size</key>
				<integer>2</integer>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>size</key>
				<real>3.5</real>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>size</key>
				<integer>6</integer>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>pen</key>
	<dict>
		<key>favouriteColors</key>
		<array>
			<dict>
				<key>color</key>
				<string>000000</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>1D31A8</string>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>color</key>
				<string>E22F69</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>000000</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>favouriteSizes</key>
		<array>
			<dict>
				<key>size</key>
				<real>1.5</real>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>size</key>
				<real>2.5</real>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>size</key>
				<real>3.5</real>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>pencil</key>
	<dict>
		<key>favouriteColors</key>
		<array>
			<dict>
				<key>color</key>
				<string>3C3A36</string>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>color</key>
				<string>716F68</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>B79C8B</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>000000</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>favouriteSizes</key>
		<array>
			<dict>
				<key>size</key>
				<integer>2</integer>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>size</key>
				<integer>4</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>size</key>
				<integer>6</integer>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>flatHighlighter</key>
	<dict>
		<key>favouriteColors</key>
		<array>
			<dict>
				<key>color</key>
				<string>FFE800</string>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>color</key>
				<string>96EAFF</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>7DD75D</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>000000</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>favouriteSizes</key>
		<array>
			<dict>
				<key>size</key>
				<integer>3</integer>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>size</key>
				<real>4.5</real>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>size</key>
				<integer>6</integer>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>highlighter</key>
	<dict>
		<key>favouriteColors</key>
		<array>
			<dict>
				<key>color</key>
				<string>FFE800</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>A798DC</string>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>color</key>
				<string>F36EC0</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>000000</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>favouriteSizes</key>
		<array>
			<dict>
				<key>size</key>
				<integer>3</integer>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>size</key>
				<real>4.5</real>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>size</key>
				<integer>6</integer>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>shapeInfo</key>
	<dict>
		<key>favouriteColors</key>
		<array>
			<dict>
				<key>color</key>
				<string>E06E51</string>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>color</key>
				<string>1EA9A8</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>E7B545</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>000000</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>favouriteSizes</key>
		<array>
			<dict>
				<key>size</key>
				<integer>3</integer>
				<key>isSelected</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>presenterInfo</key>
	<dict>
		<key>pointerColors</key>
		<array>
			<dict>
				<key>color</key>
				<string>DC1206</string>
				<key>isSelected</key>
				<true/>
			</dict>
		</array>
		<key>penColors</key>
		<array>
			<dict>
				<key>color</key>
				<string>F6BE42</string>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>color</key>
				<string>EA4227</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>color</key>
				<string>05A4D7</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>types</key>
		<array>
			<dict>
				<key>type</key>
				<integer>6</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<integer>7</integer>
				<key>isSelected</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>defaultPresetColors</key>
	<array>
		<string>000000</string>
		<string>4B4945</string>
		<string>7D7C77</string>
		<string>C4C3BF</string>
		<string>FFFFFF</string>
		<string>DD7174</string>
		<string>F4B55C</string>
		<string>6EC7CB</string>
		<string>7041AE</string>
		<string>84BDF1</string>
		<string>251E21</string>
		<string>3C4978</string>
		<string>347868</string>
		<string>73392C</string>
		<string>B52135</string>
		<string>7E363F</string>
		<string>A56538</string>
		<string>A64B5B</string>
		<string>D6DC58</string>
		<string>EF8576</string>
		<string>6389AC</string>
		<string>D6817E</string>
		<string>E59D7F</string>
		<string>6C916F</string>
		<string>E9E4DE</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>currentPresetColors</key>
	<array>
		<string>000000</string>
		<string>4B4945</string>
		<string>7D7C77</string>
		<string>C4C3BF</string>
		<string>FFFFFF</string>
		<string>DD7174</string>
		<string>F4B55C</string>
		<string>6EC7CB</string>
		<string>7041AE</string>
		<string>84BDF1</string>
		<string>251E21</string>
		<string>3C4978</string>
		<string>347868</string>
		<string>73392C</string>
		<string>B52135</string>
		<string>7E363F</string>
		<string>A56538</string>
		<string>A64B5B</string>
		<string>D6DC58</string>
		<string>EF8576</string>
		<string>6389AC</string>
		<string>D6817E</string>
		<string>E59D7F</string>
		<string>6C916F</string>
		<string>E9E4DE</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>defaultHighlighterPresetColors</key>
	<array>
		<string>E72F45</string>
		<string>FF8500</string>
		<string>FFE800</string>
		<string>7DD75D</string>
		<string>96EAFF</string>
		<string>6E96FC</string>
		<string>A798DC</string>
		<string>F36EC0</string>
		<string>FF7778</string>
		<string>BABBC1</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>currentHighlighterPresetColors</key>
	<array>
		<string>E72F45</string>
		<string>FF8500</string>
		<string>FFE800</string>
		<string>7DD75D</string>
		<string>96EAFF</string>
		<string>6E96FC</string>
		<string>A798DC</string>
		<string>F36EC0</string>
		<string>FF7778</string>
		<string>BABBC1</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
</dict>
</plist>
