<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>000000</string>
	<string>06438B</string>
	<string>067C4C</string>
	<string>9E0B0F</string>
	<string>A38A08</string>
	<string>858D8F</string>
	<string>C4C4C4</string>
	<string>2B5A75</string>
	<string>B7603A</string>
	<string>EB4081</string>
	<string>595044</string>
	<string>EB40B1</string>
	<string>F8713A</string>
	<string>767676</string>
</array>
</plist>
